<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/resources/favicon.png">
</head>

<body class="frame">
    <h2>Administration</h2>
    <br>
    <h2>UNDER CONSTRUCTION</h2>
    <button onclick="window.location.href='login';" class="close__button">Close</button>
    <script src="/static/js/app.js"></script>
</body>