<!DOCTYPE html>
<html>

<head>
    <title>Cuddly Basson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/resources/favicon.png">
</head>

<body>
    <div class="login-registration-form">
        <div class="container">
            <h2>Welqome to Cuddly Bassoon</h2>
            <form id="login-form">
                <label for="username">Login:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Pasword:</label>
                <input type="password" id="password" name="password" required>
                <i class="bi bi-eye-slash" id="togglePassword"></i>
                <br>
                <button class="button" type="submit">Login</button>
            </form>
            <p class="center__p">
                Have no account?
                <a href="register">Sign up!</a>
            </p>
        </div>
        <p id="error-message" class="center__p"> </p>
        <p class="right__p">
            <span data-title="Test data: Admistrniator: admin/admin User: user/user" class="bi bi-question-circle"
                id="showHelp"></span>
        </p>
    </div>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/app.js"></script>
</body>

</html>