<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requirements</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/resources/favicon.png">
</head>

<body class="frame">
    <h2>Требования</h2>
    <ol>
        <li>
            У вас есть две тестовых учетных записи: <br>
            Логин admin , пароль admin <br>
            Логин user, пароль user <br>
            Иногда записывают в формате логин / пароль: admin / admin и user / user <br>
            При успешном логине пользователем user должна открыться страница /to_do_list <br>
            При успешном логине пользователем admin должна открыться страница /admin <br>
        </li>
        <li>
            Ссылка Sign up! Ведет на страницу регистрации
        </li>
        <li>
            В поле Password введенные символы должны быть замаскированы точками
        </li>
        <li>
            Клик ЛКМ на пиктограмме глаза в правой части поля Password переключает показ или маскирование символов в поле Password
        </li>
        <li>
            Поля Login и Password обязательны для заполнения
        </li>
        <li>
            При наведении курсора мыши на иконку “кружок с вопросительным знаком” в левом нижнем углу должна появляться подсказка о тестовых учетных записях администратора и пользователя
        </li>
        <li>
            В случае, если введены некорректные учётные данные, под кнопкой должно появиться сообщение об ошибке “Invalid login or password”, цвет шрифта красный
        </li>
    </ol>
</body>